{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
  {{ $summary = $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $resource := partial "blox-core/functions/get_featured_image.html" $item }}

<div class="card-with-image" style="border: 1px solid #e0e0e0; border-radius: 10px; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

  {{ with $resource }}
  <div class="card-image" style="height: 200px; overflow: hidden;">
    <img src="{{ .RelPermalink }}" alt="{{ $item.Title }}" style="width: 100%; height: 100%; object-fit: cover;">
  </div>
  {{ end }}

  <div class="card-content" style="padding: 20px;">
    <h4 style="margin-bottom: 10px;"><a href="{{ $link }}" {{ $target | safeHTMLAttr }} style="text-decoration: none; color: #333;">{{ $item.Title | markdownify | emojify }}</a></h4>

    {{ if $item.Params.authors }}
    <div class="article-metadata" style="color: #000; font-size: 14px; margin-bottom: 10px;">
      <div>
        {{ partial "page_metadata_authors" $item }}
      </div>
    </div>
    {{ end }}

    {{ with $summary }}
    <p style="color: #666; font-size: 15px; margin-bottom: 15px;">{{ . }}</p>
    {{ end }}

    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="btn">Read More</a>
  </div>

</div>
